name: "Auto Release Adder"
on:
  pull_request:
    types: [closed]
    branches:
      - production
jobs:
  auto_release_adder:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout The PR
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: production

      - name: Get Version From "build.gradle.kts"
        id: get_version
        run: |
          VERSION=$(grep "versionName" build.gradle.kts | grep -Eo '[0-9]+\.[0-9]+\.[0-9]+')
          echo "VERSION_CODE : $VERSION"
          echo "VERSION_CODE=$VERSION" >> $GITHUB_ENV

      - name: Show Fail Log
        if: ${{ env.VERSION_CODE == '' }}
        run: |
          echo "Fail: Could not found the version code in Build.gradle.kts"
          exit 1

      - name: Authenticate GitHub CLI
        run: echo "${{ secrets.GITHUB_TOKEN }}" | gh auth login --with-token

      - name: Create Auto Release
        run: |
          tag="${{ env.VERSION_CODE }}"
          title="$tag"
          body=""
          echo "Version: $tag"
          echo "Body: $body"
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/${{ github.repository }}/releases \
            -d "{
              \"tag_name\": \"$tag\",
              \"target_commitish\": \"production\",
              \"name\": \"$title\",
              \"body\": \"$body\",
              \"draft\": false,
              \"prerelease\": false,
              \"generate_release_notes\": true
            }"